<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} | "%msg" %X%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <File name="OsszesLog" fileName="osszes.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
        <File name="felkialtas" fileName="felkialtas.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <TimeFilter start="05:00:00" end="20:00:00" onMatch="NEURAL" onMismatch="DENY"/>
                <MarkerFilter marker="Felkialtas" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
        <File name="kijelentes" fileName="kijelentes.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <MarkerFilter marker="Kijelentes" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
        <File name="nomarker" fileName="marker_nelkuliek.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <NoMarkerFilter onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
        <File name="GyorfiPal" fileName="Győrfi_Pál.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <TimeFilter start="20:00:00" end="05:00:00" onMatch="NEUTRAL" onMismatch="DENY"/>
                <MarkerFilter marker="Felkialtas" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OsszesLog"/>
            <AppenderRef ref="felkialtas"/>
            <AppenderRef ref="kijelentes"/>
            <AppenderRef ref="nomarker"/>
            <AppenderRef ref="GyorfiPal"/>
        </Root>
        <Logger name="husvet.Main" additivity="true">
            <AppenderRef ref="OsszesLog"/>
        </Logger>
    </Loggers>
</Configuration>